<aside class="sidebar sidebar-dark bg-dark">
  <div class="sidebar-header">
    <h3></h3>
  </div>
  <div class="menu-items">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/home" routerLinkActive="active">
          <i class="bi bi-house-door"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/users" routerLinkActive="active">
          <i class="fa-solid fa-users"></i> Manage users
        </a>
      </li>
    </ul>
  </div>
</aside>

